
<% if blocked_reason = issue.blocked_reason %>
  <div class="blocked-reason attribute">
    <div class="label">
      <%= l :blocked_reason %>:
    </div>
    <div class="value">
      <%= render_blocked_reason_tag(blocked_reason) %>
    </div>
  </div>
<% end %>
