.blocked-field-group-left {
	float:left;
	height: 140px;
}
.blocked-field-group-right {
	float:right;
	height: 140px;
}

#blocked_reason_form {
	position: relative;
	background: lightgrey;
	height: 180px;
	width: 500px;
	border:solid;
	border-color: black;
}

.blocked_reason_tag{
	position: relative;
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 1px;
    padding: 2px 4px;
	color: white;
	font-weight: bold;
}

.brt_waiting_for_client{
	background: #a2740b;
}

.brt_waiting_for_3rd_party{
	background: #b80240;
}

.brt_on_hold{
	background: #dc6263;
}

.float_left{
	float: left;
}

.margin_up{
	margin-top: 1px;
}

.comment_text_area{
	max-height: 120px;
	max-width: 260px;
}