.blocked-field-group-left {
	float:left;
	height: 140px;
}
.blocked-field-group-right {
	float:right;
	height: 140px;
}

#blocked_reason_form {
	position: relative;
	background: lightgrey;
	height: 180px;
	width: 500px;
	border:solid;
	border-color: black;
}

.blocked-reason-label {
	position: relative;
	background: pink;
	border: solid;
	border-width: 4px;
	border-color: red;
	height: 20px;
	width: auto;
}

.blocked_reason_tag{
	position: relative;
	background: pink;
	border: solid;
	border-width: 4px;
	border-color: red;
}

.brt_waiting_for_client{
	color: green;
}

.brt_waiting_for_3rd_party{
	color: blue;
}

.brt_on_hold{
	color: yellow;
}