<% options = { controller: 'issues', action: 'index', set_filter: 1,
      fields: [:status_id, :blocked_reason], operators: {
        status_id: 'o', blocked_reason: '=' },
      values: { status_id: ['o'],
        blocked_reason: [blocked_reason.blocked_reason_type_id]
      }
    } %>
<span data-tip='<%= blocked_reason.comment %>' class='block-tag brt_tooltip <%= blocked_reason.type_css_class %>'>
  <%= link_to blocked_reason.type_name, options %>
</span>
