<%  block_reason = issue.blocked_reason || BlockedReason.new
    label_name = t 'helpers.label.block_button'
    crud_label = block_reason.new_record? ? 'add-label' : 'update-label' %>
<span class="block-reason <%= crud_label %>">
  <%= link_to content_tag(:span, label_name), '', class: 'icon block-button lb_btn_lock' %>
</span>
