<tr>
  <th><strong><%= l :blocked_reason %>:</strong></th>
  <td colspan="3">
    <% blocked_reason = issue.blocked_reasons.where(active: true).first %>
    <%= render 'blocked_reason/blocked_reason_tag', blocked_reason: blocked_reason %>
    <%= render 'blocked_reason/blocked_reason_window', block_reason: blocked_reason, issue: issue %>
  </td>
</tr>
