<span class="blocked-reason-label">
  <%= "#{blocked_reason.type_name}: #{blocked_reason.comment}" %>
</span>
<%= form_for blocked_reason, method: :delete do |f| %>
  <%= f.hidden_field :issue_id, value: issue.id %>
  <%= f.submit t('helpers.label.unblock_button') %>
<% end %>