<%  block_reason = BlockedReason.find_or_create_for issue
    label_name = t 'helpers.label.block_button'
    crud_label = block_reason.new_record? ? 'add-label' : 'update-label' %>
<span class="block-reason <%= crud_label %>">
  <%= link_to content_tag(:span, label_name), '', class: 'block-button lb_btn_executed' %>
</span>
